matplotlib == 3.6
numpy
pillow
torch
scikit-learn
tqdm
beautifulsoup4
scikit-image >= 0.19.2
pytest
mypy
pylint
tensorboard
torchvision
nox
nltk
lxml
shapely
ml_collections
positional-encodings
torchmetrics
opencv-python
tikzplotlib
Levenshtein
monai
requests
tabulate