scikit-learn
scikit-image >= 0.19.2
pytest
mypy
pylint
nox
lxml
ml_collections
positional-encodings
torchmetrics
tikzplotlib
requests
tabulate
matplotlib
numpy
torch
torchvision
nltk
Levenshtein
monai
beautifulsoup4
kraken==5.2.9
lightning
matplotlib
Pillow
tqdm
opencv-python
albumentations
tensorboard